<header id="home">
  {% include 'partials/navigation.html.twig' %}
  <section class="hero" id="hero">
    <div class="container">
      <div class="row hero-content">
        <div class="col-md-8 col-md-offset-2 text-center inner">
          <h1 class="animated1 fadeInDown">Intentio</h1>
          <p class="animated2 fadeInUp delay-05s">Keskusteleva meditaatioryhmä Helsingissä.</p>
        </div>
      </div>
    </div>
  </section>
</header>
